langchain
langchain_core
langchain_community
langchain_huggingface
langchain_ollama
langchain-groq
langchain-mongodb
langgraph
langsmith
pymongo
unstructured
markdown
wikipedia
ddgs
pypdf
sentence-transformers
transformers
numpy
fastapi
uvicorn
python-multipart
httpx
pydantic-settings
pytest
pytest-asyncio
testcontainers[mongodb]
geopy
